MONGO_URL="mongodb+srv://<your_username>:<your_password>@cluster0.s1tglkm.mongodb.net/?appName=Cluster0"
DB_NAME="DB_NAME"


GOOGLE_API_KEY="YOUR_API_KEY"

PINECONE_API_KEY = "YOUR_API_KEY"
PINECONE_ENV = 
PINECONE_INDEX_NAME = 


GROQ_API_KEY